/*CUERPO/BODY*/
body{
  font-family: Arial, Helvetica, sans-serif; /**Fuente de toda la pagina**/
  background-color: #c4dafa99; /* Fondo negro con 50% de opacidad (transparente) */
  width: 100%;/**ancho de la web**/
  /*height: 100vh;/**altura completa de la pantalla**/
  /*margin: 0 auto;/**arriba abajo 0, izquierda y derecha auto**/
  /*margin-top: 85px;/*margen */
}
  /*NavBar*/
  .navbar{
    background-color: #c4dafac2;
    box-sizing: border-box; /**es igual al width total y se resta del total el border y el padding**/
    display: flex;
    width: 100%;
    height: 85px;
    padding: 0 40px;
    align-items: center;
    justify-content:space-between;
    /*max-height: 85px; /* Todo dentro máximo 85px */
  }
    /*logo nabvar*/
    .logo_navbar{
      width: 45px;
      height: 45px;
      /*background-color: azure;*/
    }
    /*titulo navbar*/
    .titulo_navbar{
      /*background-color: #114cab;*/
      width: 45%;
      font-size: 1.5rem; /**Tamaño de fuente (1.5 veces el tamaño base)**/
      font-weight: 600; /**texto en negrita**/
    }
    /*lista de enlaces*/
    .lista_enlaces_navbar{
      /*background-color: #00ff59;*/
      width: 50%;
      display: flex;
      gap: 15px;
      justify-content: flex-end; /* ← Alinea contenido a la derecha */

    }  
      /*enlaces de la lista*/
      .lista_enlaces_navbar a{  
        color:#000000; /**Color del texto: blanco**/
        text-decoration: none;
        font-size: 1.1rem; /**Tamaño de fuente (1.5 veces el tamaño base)**/
        font-weight: 600; /**texto en negrita**/
        transition: color 0.5s; /**Transición suave del color en 0.3 segundos**/
      }
      /**pasar por encima de los enlaces**/
        .lista_enlaces_navbar a:hover {
          color: #0000ff; /**Cambia el color a dorado (#FFD700) al hacer hover**/
      }
  /*section de sections*/
  .section_sections{
    background-color: #c4dafac2;
    display: flex;
    gap:20px;
    margin: 30px 40px;
    border-radius: 15px;
    padding: 20px;
  }
    /*columna izquierda*/
    .columna_iz{
      background-color: #adcdfec2;
      flex: 2;
      border-radius: 15px;
      padding: 20px;
    }
      /*texto y titulo*/
      .columna_iz h1{
        font-size: 46px;
      }
      .columna_iz p{
        padding-top: 5px;
        font-size: 24px;
        text-align: justify;
        line-height: 1.2;
        letter-spacing: 1.5px;
        hyphens: auto;/*para poner guienes si no cabe una palabra*/

      }
    /*columna derecha*/
    .columna_de{
      background-color: #adcdfec2;
      flex: 3;
      border-radius: 15px;
      padding: 20px;
    
    }
      /*formulario de la columna de*/
      .fields{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 24px;
      }
      .fields input{
        padding: 10px;
        border-radius: 10px;
        border: none; /**Sombreado del boton**/
        margin-bottom: 20px;
        background-color: #eaf2ffda;
      }
      #propuesta{
        height: 120px;
        padding: 7px;
        border-radius: 10px;
        border: none; /**Sombreado del boton**/
        background-color: #eaf2ffda;  
      }
      #motivo{
        height: 50px;
        padding: 7px;
        border-radius: 10px;
        border: none; /**Sombreado del boton**/
        background-color: #eaf2ffda;
      }
      .fields button {
        padding: 10px;
        background-color: #6ea6ffda;
        border-radius: 10px;
        border: none; /**Sombreado del boton**/
        cursor: pointer; /**es como el hover pasar por encima lo escoje como boton**/
        margin-top: 10px;
        font-size: 24px;
      }
      button:hover {
        background-color: #67a1fe;
      }
  .footer{
    color: #000000cb;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5999ffa8;
    box-sizing: border-box; /**es igual al width total y se resta del total el border y el padding**/
    width: 100%;
    height: 80px;
  }