/*CUERPO/BODY*/
body{
  font-family: Arial, Helvetica, sans-serif; /**Fuente de toda la pagina**/
  background-color: #c4dafa99; /* Fondo negro con 50% de opacidad (transparente) */
  width: 100%;/**ancho de la web**/
  /*height: 100vh;/**altura completa de la pantalla**/
  /*margin: 0 auto;/**arriba abajo 0, izquierda y derecha auto**/
  /*margin-top: 85px;/*margen */
}
  /*NavBar*/
  .navbar{
    background-color: #c4dafac2;
    box-sizing: border-box; /**es igual al width total y se resta del total el border y el padding**/
    display: flex;
    width: 100%;
    height: 85px;
    padding: 0 40px;
    align-items: center;
    justify-content:space-between;
    /*max-height: 85px; /* Todo dentro máximo 85px */
  }
    /*logo nabvar*/
    .logo_navbar{
      width: 45px;
      height: 45px;
      /*background-color: azure;*/
    }
    /*titulo navbar*/
    .titulo_navbar{
      /*background-color: #114cab;*/
      width: 45%;
      font-size: 1.5rem; /**Tamaño de fuente (1.5 veces el tamaño base)**/
      font-weight: 600; /**texto en negrita**/
    }
    /*lista de enlaces*/
    .lista_enlaces_navbar{
      /*background-color: aqua;*/
      width: 50%;
      display: flex;
      gap: 15px;
      justify-content: flex-end; /* ← Alinea contenido a la derecha */

    }  
      /*enlaces de la lista*/
      .lista_enlaces_navbar a{  
        color:#000000; /**Color del texto: blanco**/
        text-decoration: none;
        font-size: 1.1rem; /**Tamaño de fuente (1.5 veces el tamaño base)**/
        font-weight: 600; /**texto en negrita**/
        transition: color 0.5s; /**Transición suave del color en 0.3 segundos**/
      }
      /**pasar por encima de los enlaces**/
        .lista_enlaces_navbar a:hover {
          color: #0000ff; /**Cambia el color a dorado (#FFD700) al hacer hover**/
      }
  /**Main**/
  .main{
    background-color: #c4dafac2;
    display: flex;
    grid-template-columns: 3fr 1fr;
    /*gap: 20px;*/
    margin: 30px 40px;
    border-radius: 15px;
  }
    /*figure del main*/
    .figure_main{
      /*background-color: #f5f5dc;*/
      flex: 1;
      margin: 20px;
    }
    .figure_main img{
      border-radius: 15px;
      width: 100%;
    
    }
    /*article del main*/
    .article{
      background-color: #adcdfec2;
      flex: 3;
      margin:20px 0 20px;
      border-radius: 15px;
      padding: 20px;
    }
      /**Section del article*/
      .section_article{
        text-align: justify;
      }
        /*h1 section del article*/
        .section_article h1{
          font-size: 48px;
        }
        /*p section del article*/
        .section_article p{
          padding-top: 5px;
          font-size: 23px;
          hyphens: auto;/*para poner guienes si no cabe una palabra*/
          line-height: 1.2;
        letter-spacing: 1.5px;
        }
      /*Footer del article*/
      .footer_article{
        border-radius: 0 0 15px 15px;
        width: 96%;
        height: 60px;
        text-align: center;
        border-top:3px solid #4d83bca3;
        margin: 30px 2% 0 2%;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .footer_article p{
        margin: 0;
      }

  /*FOOTER*/
  .footer{
    color: #000000cb;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5999ffa8;
    box-sizing: border-box; /**es igual al width total y se resta del total el border y el padding**/
    width: 100%;
    height: 80px;
  }